* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  height: 100vh;
}

.grid {
  height: 420px;
  width: 420px;
  background-color: grey;
  margin: auto;

}

.square {
  height: calc(100% / 6);
  width: calc(100% / 6);
  border: 1px solid black;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
